# 0. Import thư viện + file

In [17]:
import pandas as pd
import numpy as np

In [18]:
# C:/Users/admin/.vscode/py/crawl/topcv_08092025.csv
job_df = pd.read_csv('C:/Users/admin/.vscode/py/crawl/topcv_08092025.csv')

In [19]:
job_df.head()

,Index,Job Title,Salary,Place,YOE,Company,No Employee,Industry,Require Skill,Additional Skill,Schedule,Detail Description,Detail Requirement,Detail Benefit,URL
0,1,Chuyên Viên Phân Tích Dữ Liệu (Data Analyst),20 - 39 triệu,Hà Nội,3 năm,CÔNG TY TNHH CÁC GIẢI PHÁP SOFTEL,100-499 nhân viên,IT - Phần mềm,MySQLDatabaseData Analysis,Intermedidate English,Thời gian làm việc\n\nThứ 2 - Thứ 6 (từ 09:00 ...,Mô tả công việc\n\nWe are looking for a Data A...,Yêu cầu ứng viên\n\nBachelor/Master/Ph.D’s deg...,Quyền lợi\n\nStarting Salary: 20M-39M/month.Co...,https://www.topcv.vn/viec-lam/chuyen-vien-phan...
1,2,Financial Planning & Analysis Executive (FP&A),Thoả thuận,Hồ Chí Minh,1 năm,Công ty Cổ phần Thế Giới Số (DIGIWORLD)\n\n\n\...,500-1000 nhân viên,Thương mại điện tử,Phân tích dữ liệutư duy phản biệnKỹ Năng Giao ...,"Trực Quan Hóa Dữ Liệu (tableau, Power Bi)Quản ...",Thời gian làm việc\n\nThứ 2 - Thứ 6 (từ 08:00 ...,Mô tả công việc\n\nDigiworld là công ty cung c...,Yêu cầu ứng viên\n\nTốt nghiệp Đại học chuyên ...,Quyền lợi\n\nThu nhập và đãi ngộ cạnh tranh th...,https://www.topcv.vn/viec-lam/financial-planni...
2,3,Nhân Viên Giám Sát & Phân Tích Dữ Liệu - Tổng ...,Thoả thuận,Hồ Chí Minh,1 năm,Công Ty TNHH Bảo Hiểm Tasco,500-1000 nhân viên,Bảo hiểm,Giao tiếp tốtGiải quyết vấn đềRa Quyết ĐịnhKhả...,NaN,Thời gian làm việc\n\nThời gian làm việc xoay ...,Mô tả công việc\n\n1. Giám sát và điều phối ca...,Yêu cầu ứng viên\n\n- Tốt nghiệp cao đẳng/đại ...,Quyền lợi\n\n- Được đào tạo về kỹ năng chăm só...,https://www.topcv.vn/viec-lam/nhan-vien-giam-s...
3,4,Thực Tập Sinh ERP - Data Analyst,Thoả thuận,Hà Nội,Không yêu cầu,CÔNG TY CỔ PHẦN BÁCH LIÊN,100-499 nhân viên,Xuất nhập khẩu,SQLTư duy logicPhân tích dữ liệuOdoo ERPPhần m...,NaN,Thời gian làm việc\n\nThứ 2 - Thứ 6 (từ 08:00 ...,Mô tả công việc\n\nNhiệm vụ chính:Chuẩn hóa dữ...,Yêu cầu ứng viên\n\nYêu cầu ứng viên: sinh vi...,Quyền lợi\n\nHỗ trợ dấu mộc thực tập sau 2 thá...,https://www.topcv.vn/viec-lam/thuc-tap-sinh-er...
4,5,Trưởng Nhóm Phân Tích Dữ Liệu - Ngành Tài Chính,Thoả thuận,Hồ Chí Minh,1 năm,GALAXY DEBT TRADING COMPANY LIMITED,1000+ nhân viên,Tài chính,Khai Thác Dữ LiệuTrực Quan Hóa Dữ Liệu (tablea...,PostgreSQLPythonSQLMs OfficePowerBI,Thời gian làm việc\n\nThứ 2 - Thứ 6 (từ 09:00 ...,Mô tả công việc\n\nQuản lý hệ thống cơ sở dữ l...,Yêu cầu ứng viên\n\nTốt nghiệp Đại học chuyên ...,Quyền lợi\n\nMức lương: Thỏa Thuận theo năng l...,https://www.topcv.vn/viec-lam/truong-nhom-phan...

# **1. CLEAN**

## 1.1 Null values

Require SKill: 3 Null

Additional Skill: 47 null
- **nguyên nhân**: không yêu cầu skills -> để blanks
- **giải quyết**: fillna() thành "Không yêu cầu"

In [20]:
job_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Index               63 non-null     int64
 1   Job Title           63 non-null     object
 2   Salary              63 non-null     object
 3   Place               63 non-null     object
 4   YOE                 63 non-null     object
 5   Company             63 non-null     object
 6   No Employee         63 non-null     object
 7   Industry            63 non-null     object
 8   Require Skill       60 non-null     object
 9   Additional Skill    16 non-null     object
 10  Schedule            63 non-null     object
 11  Detail Description  63 non-null     object
 12  Detail Requirement  63 non-null     object
 13  Detail Benefit      63 non-null     object
 14  URL                 63 non-null     object
dtypes: int64(1), object(14)
memory usage: 7.5+ KB

Double check xem các dòng Null có pattern gì đặc biệt không

-> không có

In [21]:
job_df.loc[
    job_df['Require Skill'].isnull() | job_df['Additional Skill'].isnull(),
    ['Job Title', 'YOE', 'Require Skill', 'Additional Skill', 'Detail Requirement']
].sort_values(by = 'Require Skill')

,Job Title,YOE,Require Skill,Additional Skill,Detail Requirement
57,Chuyên Viên Data Analyst (DA),2 năm,\nData Analyst\nDA\nPhân tích dữ liệu\nSQL\nPy...,NaN,Yêu cầu ứng viên\n\nTrình độ: Tốt nghiệp Đại h...
60,Chuyên Viên Báo Cáo Và Phân Tích Tín Dụng,2 năm,\nExcel\nPhân Tích Tài Chính\nBáo Cáo Tài Chín...,NaN,Yêu cầu ứng viên\n\n1. Tốt nghiệp Đại Học chuy...
42,Business Analyst,2 năm,\nGiao tiếp\nPhân Tích Nghiệp Vụ\nphân tích yê...,NaN,Yêu cầu ứng viên\n\nTrình độ học vấn tối thiểu...
49,Chuyên Viên Dữ Liệu / Data Analyst,2 năm,\nJava\nPython\nSQL\nExcel\nCRM\nTiếng Anh\nPh...,NaN,Yêu cầu ứng viên\n\nƯu tiên ứng viên Tốt nghiệ...
45,Thực Tập Sinh Triển Khai Phần Mềm,Không yêu cầu,\nKhả năng giải quyết vấn đề\nKhả Năng Học Hỏi...,NaN,Yêu cầu ứng viên\n\n1. Trình độ- Sinh viên năm...
55,Chuyên Viên Phân Tích Dữ Liệu (Data Analyst),3 năm,\nKỹ năng giải quyết vấn đề\nTrực Quan Hóa Dữ ...,NaN,Yêu cầu ứng viên\n\n1. Trình độ học vấn/Chứng ...
51,Research Intern/Assistant – Global Market,Không yêu cầu,\nNghiên Cứu Thị Trường\nPhân tích dữ liệu\nTh...,NaN,"Yêu cầu ứng viên\n\nHọc vấn:- Sinh viên năm 3,..."
62,Leader Chạy Quảng Cáo Facebook (Data Analysis),3 năm,\nPhân Tích Dữ Liệu (data Analysis)\nQuảng Cáo...,NaN,Yêu cầu ứng viên\n\n Tối thiểu 3-5 năm kinh ng...
53,Trưởng Bộ Phận BI (Business Intelligence Manager),5 năm,\nPhân tích dữ liệu\nQuản Lý Dự Án\nTrực quan ...,NaN,Yêu cầu ứng viên\n\nTối thiểu 5 năm kinh nghiệ...
46,Data Analyst (Đi Làm Ngay),5 năm,\nPhân tích dữ liệu\nSQL\nExcel\nthống kê\nTrự...,NaN,Yêu cầu ứng viên\n\nMinimum Educational Qualif...
43,Data Analyst,3 năm,\nPhân tích dữ liệu\nSQL\nPython\nR\nthống kê\n,NaN,Yêu cầu ứng viên\n\nTốt nghiệp Cử nhân ngành K...
54,Data Analyst,3 năm,\nSQL\nExcel\nPhân tích dữ liệu\ndata engineer...,NaN,Yêu cầu ứng viên\n\nTối thiểu 03 năm trong lĩn...
44,Phân Tích Dữ Liệu (Data Analyst),1 năm,\nSQL\nExcel\nPhân tích dữ liệu\nthống kê\nTrự...,NaN,Yêu cầu ứng viên\n\nTốt nghiệp Cử nhân trở lên...
40,Chuyên Viên Phân Tích Quản Trị (BI),Dưới 1 năm,\nSQL\nPhân tích dữ liệu\nMô Hình Hóa Dữ Liệu\...,NaN,Yêu cầu ứng viên\n\n• Tốt nghiệp Đại học trở l...
59,"Data Analyst, MeLive",2 năm,\nSQL\nPhân tích dữ liệu\nthống kê\nTrực Quan ...,NaN,Yêu cầu ứng viên\n\nBachelor’s degree in Data ...
50,Thực Tập Sinh Data & Analytics Office,Không yêu cầu,\nTư duy logic\nPhân tích dữ liệu\nExcel\nSQL\...,NaN,Yêu cầu ứng viên\n\nSinh viên năm 2 trở lên đế...
25,Nhân Viên Kế Hoạch (Mạnh Xử Lý Số Liệu),2 năm,ExcelPhân tích dữ liệuXử Lý Số LiệuLập Kế Hoạc...,NaN,Yêu cầu ứng viên\n\nTốt nghiệp Đại học chính q...
2,Nhân Viên Giám Sát & Phân Tích Dữ Liệu - Tổng ...,1 năm,Giao tiếp tốtGiải quyết vấn đềRa Quyết ĐịnhKhả...,NaN,Yêu cầu ứng viên\n\n- Tốt nghiệp cao đẳng/đại ...
24,Cán Bộ Xã Hội (Mã Số: HR-CBXH),Không yêu cầu,Giao tiếpLắng NgheĐánh GiáGiải quyết vấn đềTư vấn,NaN,Yêu cầu ứng viên\n\nƯu tiên ứng viên có kinh n...
23,Chuyên Viên Vận Hành Kinh Doanh,2 năm,Giao tiếpPhân tích dữ liệuLập Kế HoạchQuản Lý ...,NaN,Yêu cầu ứng viên\n\n1. Trình độ học vấn/Chứng ...
21,Chuyên Viên Thống Kê Dữ Liệu Kho Vận,2 năm,Giao tiếpPhân tích dữ liệuThủ KhoTrợ Lýkho vận...,NaN,"Yêu cầu ứng viên\n\nNam/nữ, Tốt nghiệp Cao đẳn..."
28,Chuyên Viên Quản Lý Hiệu Suất Kinh Doanh,3 năm,Giao tiếpPhân tích dữ liệubáo cáoĐánh Giá Hiệu...,NaN,Yêu cầu ứng viên\n\n1. Trình độ học vấn/Chứng ...
38,Nhân Viên Công Nghệ Thông Tin (Mới Ra Trường),Không yêu cầu,Kiến Thức Nền Tảng Về CnttKỹ năng giải quyết v...,NaN,"Yêu cầu ứng viên\n\n- Bằng cấp, trình độ: cao ..."
14,Operations Analyst,2 năm,Phân tích dữ liệuGiải quyết vấn đềtư duy phản ...,NaN,Yêu cầu ứng viên\n\nBachelor’s degree in Data ...
37,Chuyên Viên Phân Tích Dữ Liệu (DA),3 năm,Phân tích dữ liệuSQLPython Hoặc RTrực Quan Hóa...,NaN,Yêu cầu ứng viên\n\nBằng đại học chuyên ngành ...
30,Data Analyst,2 năm,Phân tích dữ liệuSQLPython Hoặc RTrực Quan Hóa...,NaN,Yêu cầu ứng viên\n\nBằng cấp/ Chuyên môn nghiệ...
33,Phân Tích Dữ Liệu Kinh Doanh,2 năm,Phân tích dữ liệuthống kêSQLTrực Quan Hóa Dữ L...,NaN,Yêu cầu ứng viên\n\nTrình độ tương đương Đại h...
27,Chuyên Viên Phân Tích & Vận Hành Dịch Vụ FPT Play,2 năm,Phân tích dữ liệuvận hành dịch vụSQLExcelGiải ...,NaN,Yêu cầu ứng viên\n\nCó từ 2 năm kinh nghiệm vậ...
6,Data Analyst,3 năm,PythonSQLPhân tích dữ liệuthống kêR,NaN,Yêu cầu ứng viên\n\nTốt nghiệp Đại học chuyên ...
7,Data Analyst,Dưới 1 năm,PythonSQLPhân tích dữ liệuthống kêR,NaN,"Yêu cầu ứng viên\n\nA degree in – Statistics, ..."
9,Data Analyst,1 năm,PythonSQLPhân tích dữ liệuthống kêR,NaN,Yêu cầu ứng viên\n\nI. Kinh nghiệm & Kiến thức...
29,Trưởng Phòng Quản Lý Hiệu Suất Kinh Doanh,Trên 5 năm,Quản Lý Dự ÁnGiao Tiếp Và Thuyết TrìnhLãnh Đạo...,NaN,Yêu cầu ứng viên\n\n1. Trình độ học vấn/Chứng ...
20,Research Analyst Associate Manager,Trên 5 năm,Quản lý nhómQuản Lý Dự ÁnKỹ Năng Nghiên Cứu Th...,NaN,Yêu cầu ứng viên\n\nBachelor’s or Master’s deg...
12,Business Analyst (Banking),2 năm,SQLBusiness AnalystTruy Vấn Dữ LiệuTrực Quan H...,NaN,Yêu cầu ứng viên\n\n1. Professional Capacity r...
36,Data Analyst,2 năm,SQLExcelPhân tích dữ liệuTrực quan hóa dữ liệu...,NaN,Yêu cầu ứng viên\n\nTốt nghiệp Đại học loại Kh...
19,Chuyên Viên - Phân Tích & Dự Báo Hàng Hoá,3 năm,SQLExcelPhân tích dữ liệuthống kêDự Báo,NaN,Yêu cầu ứng viên\n\nTRÌNH ĐỘ HỌC VẤN • Bằng cấ...
34,Phân Tích Dữ Liệu Kinh Doanh (Data Business An...,2 năm,SQLExcelPhân tích dữ liệuthống kêTrực Quan Hóa...,NaN,Yêu cầu ứng viên\n\nTrình độ tương đương Đại h...
13,Chuyên Viên Phân Tích Tài Chính (Data Analysis),3 năm,SQLPhân tích dữ liệuExcel (cao Cấp)Trực Quan H...,NaN,Yêu cầu ứng viên\n\n1. Tốt nghiệp Đại học trở ...
35,Business Data Analyst,Không yêu cầu,SQLPhân tích dữ liệuTrực quan hóa dữ liệuExcel...,NaN,Yêu cầu ứng viên\n\nTốt nghiệp đại học loại Kh...
32,Data Analyst,3 năm,SQLPhân tích dữ liệuthống kêTrực quan hóa dữ l...,NaN,Yêu cầu ứng viên\n\nTốt nghiệp đại học chuyên ...
15,Chuyên Viên Dữ Liệu (Data Engineer),3 năm,SQLPythonETLData WarehousingCloud Computing (a...,NaN,Yêu cầu ứng viên\n\nBằng đại học chuyên ngành ...
3,Thực Tập Sinh ERP - Data Analyst,Không yêu cầu,SQLTư duy logicPhân tích dữ liệuOdoo ERPPhần m...,NaN,Yêu cầu ứng viên\n\nYêu cầu ứng viên: sinh vi...
16,Performance Marketing Lead (Data Analysis),2 năm,Seo (search Engine Optimization)Sem (search En...,NaN,Yêu cầu ứng viên\n\nTừ trên 2 năm kinh nghiệm ...
22,Nhân Viên ISO,Không yêu cầu,Soạn Thảo Tài LiệuPhân Tích Dữ Liệu Và Báo Cáo...,NaN,"Yêu cầu ứng viên\n\n- Tốt nghiệp ĐH, CĐ các ng..."
10,Nhân Viên Phân Tích Dữ Liệu Và Xử Lý Đơn Hàng ...,1 năm,NaN,NaN,"Yêu cầu ứng viên\n\n– Tốt nghiệp Đại học, ưu t..."
18,Nhân Viên Xử Lý Dữ Liệu Và Hàng Bảo Hành,Không yêu cầu,NaN,NaN,Yêu cầu ứng viên\n\n•\tTốt nghiệp Cao đẳng trở...
47,Business Data Analyst,3 năm,NaN,NaN,Yêu cầu ứng viên\n\nTốt nghiệp đại học loại Kh...

In [22]:
job_df = job_df.fillna({
    'Require Skill': 'Không yêu cầu',
    'Additional Skill': 'Không yêu cầu'
})

In [23]:
job_df.isnull().sum()

Index                 0
Job Title             0
Salary                0
Place                 0
YOE                   0
Company               0
No Employee           0
Industry              0
Require Skill         0
Additional Skill      0
Schedule              0
Detail Description    0
Detail Requirement    0
Detail Benefit        0
URL                   0
dtype: int64

## 1.2 Duplicate values

In [24]:
job_df.duplicated().sum()

np.int64(0)

Check thêm case 1 job bị công ty up lên 2 lần 

-> chỉ check duplicate cho 2 cột "Job Title" và "Company"

In [25]:
job_df.duplicated(subset=['Job Title', 'Company']).sum()

np.int64(0)

# **2. ENHANCE STRUCTURE**

# 2.1 YOE

Hướng enhance:
- bỏ từ "năm"
- quy chuẩn
    - "Không yêu cầu" = 0
    - "Dưới" = -0.5
    - "Trên" = +0.5
*eg: Dưới 1 năm = 0.5 YOE*

In [26]:
job_df['YOE'].value_counts()

YOE
2 năm            22
3 năm            13
1 năm            10
Không yêu cầu    10
Dưới 1 năm        3
5 năm             3
Trên 5 năm        2
Name: count, dtype: int64

In [27]:
job_df['YOE'] = job_df['YOE'].str.replace(' năm', '', regex=False)

In [28]:
def parse_yoe(value):
    value = str(value).lower().strip()

    if 'không yêu cầu' in value:
        return 0.0

    elif 'dưới' in value:
        try:
            return float(value.split()[-1]) - 0.5
        except:
            return None

    elif 'trên' in value:
        return float(value.split()[-1]) + 0.5

    else:
        return float(value.split()[0])

In [29]:
job_df['YOE'] = job_df['YOE'].apply(parse_yoe)

## 2.2 SALARY

Hướng enhance:
- bỏ từ "triệu"
- chia làm 2 cột **Salary MIN** và **Salary MAX**
    - tách dựa vào "-"
- "Thỏa thuận" = sẽ được tính dựa vào AVERAGE của những jobs có cùng YOE

In [30]:
job_df['Salary'].value_counts(0)

Salary
Thoả thuận       36
15 - 25 triệu     3
20 - 25 triệu     2
16 - 20 triệu     2
15 - 20 triệu     1
9 - 11 triệu      1
18 - 25 triệu     1
20 - 39 triệu     1
16 - 18 triệu     1
20 - 35 triệu     1
12 - 15 triệu     1
Tới 20 triệu      1
15 - 30 triệu     1
10 - 16 triệu     1
Tới 25 triệu      1
Tới 16 triệu      1
2 - 5 triệu       1
35 - 40 triệu     1
10 - 12 triệu     1
10 - 15 triệu     1
3 - 5 triệu       1
9 - 15 triệu      1
50 - 70 triệu     1
20 - 55 triệu     1
Name: count, dtype: int64

In [31]:
salary_1 = job_df['Salary'].str.replace('triệu', '', regex=False).str.strip()

salary_2 = salary_1.replace('Thoả thuận', pd.NA)

job_df['Salary MIN'] = salary_2.str.split('-', expand=True)[0]
job_df['Salary MAX'] = salary_2.str.split('-', expand=True)[1]

# convert to numeric
job_df['Salary MIN'] = pd.to_numeric(job_df['Salary MIN'], errors='coerce')
job_df['Salary MAX'] = pd.to_numeric(job_df['Salary MAX'], errors='coerce')

Check các job có lương "Thoả thuận" xem có pattern gì đặc biệt không

-> không có

In [32]:
# Tính số lượng "Thoả thuận" theo YOE
thoathuan_count = job_df.loc[job_df['Salary'] == 'Thoả thuận'].groupby('YOE')['Salary'].count().rename('thỏa thuận')

# Tính tổng số bản ghi theo YOE
total_count = job_df.groupby('YOE')['Salary'].count().rename('total')

merge = pd.merge(thoathuan_count, total_count, how='inner',on='YOE')
merge

     thỏa thuận  total
YOE
0.0           7     10
0.5           2      3
1.0           6     10
2.0           9     22
3.0           9     13
5.0           1      3
5.5           2      2

In [33]:
# fillna = average các job có chung YOE

job_df['Salary MIN'] = job_df['Salary MIN'].fillna(
    job_df.groupby('YOE')['Salary MIN'].transform('mean')
)

job_df['Salary MAX'] = job_df['Salary MAX'].fillna(
    job_df.groupby('YOE')['Salary MAX'].transform('mean')
)

## 2.3 No. EMP

Hướng enhance:
- Tạo cột mới "Company Type", chia làm 5 nhóm dựa vào số lượng nhân viên MIN (x)
    - Startup: x <10
    - Doanh nghiệp nhỏ: x <50
    - Doanh nghiệp vừa: x <200
    - Doanh nghiệp lớn: x <1000
    - Tập đoàn: số lượng x >1000 
- Số lượng nhân viên MIN = x tính dựa vào
    - nếu **# - #**: thì **x = # trước dấu "-"**
    - nếu **#+**: thì **x = #**

In [34]:
job_df['No Employee'].value_counts()

No Employee
100-499 nhân viên     19
1000+ nhân viên       15
25-99 nhân viên        9
500-1000 nhân viên     8
5000+ nhân viên        6
10-24 nhân viên        4
10000+ nhân viên       1
1-9 nhân viên          1
Name: count, dtype: int64

In [35]:
emp_clean1 = job_df['No Employee'].str.replace('nhân viên', '', regex=False).str.strip()

job_df['emp_min'] = pd.to_numeric( salary_2.str.split('-', expand=True)[0] , errors='coerce' )

job_df['Company Type'] = job_df['emp_min'].apply(
    lambda x: (
        'Startup' if x <= 10 else
        'Doanh nghiệp nhỏ' if x <= 50 else
        'Doanh nghiệp vừa' if x <= 200 else
        'Doanh nghiệp lớn' if x <= 1000 else
        'Tập đoàn'
    )
)

In [36]:
job_df['Company Type'].value_counts()

Company Type
Tập đoàn            39
Doanh nghiệp nhỏ    17
Startup              7
Name: count, dtype: int64

## 2.4 SCHEDULE

Hướng enhance
- Chia làm 2 nhóm:
    - **T2-T7**: làm việc đến thứ 7: *nếu "Schedule" chứa các từ "thứ 7" hoặc "thứ bảy" thì thuộc nhóm này*
    - **T2-T6**: làm việc đến thứ 6: *còn lại*

In [37]:
# # DROP HƯỚNG NÀY
# # regexp
# pattern = r"(Thứ\s?\d\s?-\s?Thứ\s?\d\s?\(.*?\))"
# # pattern
# y = job_df['Schedule'].str.extract(pattern, expand=False)

In [38]:
job_df['Work Day'] = np.where(
    job_df['Schedule'].str.contains('Thứ 7', case=False)
    | job_df['Schedule'].str.contains('thứ bảy', case=False),
    'T2-T7',
    'T2-T6'
)

In [39]:
job_df['Work Day'].value_counts()

Work Day
T2-T6    43
T2-T7    20
Name: count, dtype: int64

## 2.5 REQUIRE + ADDITIONAL (**SKILL**)

 Step enhance
 - Step 1: ChatGPT gen ra những technical skills cần thiết với vị trí DA
 - Step 2: dùng **REGEXP** check ở các cột 'Require Skill', 'Additional Skill' và 'Detail Requirement'
 - Step 3: trả output là 1 DataFrame mới gồm:
    - 2 cột gốc là "Index" và "Job Title"
    - những cột còn lại tiêu đề là *tools technical ở step1*, giá trị là *Y/N* (Y nếu job có yêu cầu tools này, N là không yêu cầu)

In [40]:
# dictionary with tools + regexp
patterns = {
    'SQL': r'(?<!no)\bsql\b|mysql|postgresql|postgres|\bt-?sql\b|pl/?sql|sql server',
    'Python': r'\bpython\b',
    'R': r'(?<!\w)r(?!\w)|\br language\b',
    'Excel': r'\bexcel\b',
    'Tableau': r'\btableau\b',
    'PowerBI': r'\bpower\s*bi\b',
    'ETL': r'\betl\b',
    'Airflow': r'\bairflow\b',
    'Spark': r'\bspark\b',
    'AWS': r'\baws\b|amazon web services',
    'Azure': r'\bazure\b',
    'GCP': r'\bgcp\b|google cloud',
    'Snowflake': r'\bsnowflake\b',
}

In [41]:
job_df_tools = job_df[['Index', 'Job Title', 'Require Skill', 'Additional Skill', 'Detail Requirement']].copy() 

for tool, regexp in patterns.items():
    job_df_tools[tool] = np.where(
        job_df_tools['Require Skill'].str.contains(regexp, case=False, regex=True) |
        job_df_tools['Additional Skill'].str.contains(regexp, case=False, regex=True) |
        job_df_tools['Detail Requirement'].str.contains(regexp, case=False, regex=True),
        'Y', 'N'
    )

In [42]:
del job_df_tools['Detail Requirement']
del job_df_tools['Require Skill']
del job_df_tools['Additional Skill']

job_df_tools.head()

,Index,Job Title,SQL,Python,R,Excel,Tableau,PowerBI,ETL,Airflow,Spark,AWS,Azure,GCP,Snowflake
0,1,Chuyên Viên Phân Tích Dữ Liệu (Data Analyst),Y,Y,N,N,Y,Y,N,N,N,Y,N,N,N
1,2,Financial Planning & Analysis Executive (FP&A),Y,Y,Y,Y,Y,Y,N,N,N,N,N,N,N
2,3,Nhân Viên Giám Sát & Phân Tích Dữ Liệu - Tổng ...,N,N,N,Y,N,N,N,N,N,N,N,N,N
3,4,Thực Tập Sinh ERP - Data Analyst,N,N,N,N,N,N,N,N,N,N,N,N,N
4,5,Trưởng Nhóm Phân Tích Dữ Liệu - Ngành Tài Chính,Y,Y,Y,Y,Y,Y,N,N,N,N,N,N,N

In [43]:
tool_cols = list(patterns.keys())

job_df_tools[tool_cols].eq('Y').sum().sort_values(ascending=False)

PowerBI      38
SQL          37
Excel        33
Python       30
Tableau      28
R            20
ETL           8
Azure         6
AWS           5
GCP           4
Airflow       2
Spark         2
Snowflake     2
dtype: int64

## 2.6 COMPANY

Xóa bỏ cụm "Pro Company" trong phần tên công ty
- nguyên nhân: các công ty hàng đầu sẽ được gán cụm này trên TopCV

In [44]:
job_df['Company'] = job_df['Company'].str.replace('\n', '', regex=False).str.strip()

job_df['Company'] = job_df['Company'].str.replace('Pro Company', '', regex=False).str.strip()

## 2.7 Benefits

 Step enhance
 - Step 1: ChatGPT gen ra những Benefits thường có
 - Step 2: dùng **REGEXP** check ở cột **Detail Benefits**
 - Step 3: trả output là 1 DataFrame mới gồm:
    - 2 cột gốc là "Index" và "Job Title"
    - những cột còn lại tiêu đề là *benefits ở step1*, giá trị là *Y/N* (Y nếu job có benefits này, N là không yêu cầu)

In [63]:
benefit_patterns = {
    'Bảo hiểm xã hội (BHXH)': r'\bbhxh\b|\bbảo hiểm xã hội\b',
    'Bảo hiểm y tế (BHYT)': r'\bbhyt\b|\bbảo hiểm y tế\b',
    'Bảo hiểm sức khỏe': r'\bbảo hiểm sức khỏe\b|health insurance',
    'Bảo hiểm tai nạn': r'\bbảo hiểm tai nạn\b',
    'Thưởng tháng 13': r'thưởng.*(?:lương)?.*tháng\s*13|\btháng\s*13\b',
    'Thưởng lễ, Tết': r'thưởng.*(?:tết|lễ)',
    'Mức lương / Thu nhập': r'\bmức lương\b|\bthu nhập\b|\bsalary\b',
    'Tăng lương': r'tăng lương|xét tăng lương',
    'Nghỉ phép (12 ngày)': r'\b12\s*ngày\s*phép\b|nghỉ phép|annual leave',
    'Du lịch / Company Trip': r'du lịch|company trip|nghỉ mát',
    'Teambuilding': r'teambuilding|team building',
    'Khám sức khỏe định kỳ': r'khám sức khỏe định kỳ|khám sức khỏe hàng năm',
    'Đào tạo / Khóa học': r'đào tạo|khóa học|training|phát triển cá nhân',
    'Cơ hội phát triển nghề nghiệp': r'cơ hội phát triển|phát triển nghề nghiệp',
    'Môi trường làm việc năng động': r'môi trường.*(?:năng động|trẻ trung|thân thiện|chuyên nghiệp)',
}

In [64]:
job_df_benefit = job_df[['Index', 'Job Title', 'Detail Benefit']].copy() 

for benefit, regexp in benefit_patterns.items():
    job_df_benefit[benefit] = np.where(
        job_df_benefit['Detail Benefit'].str.contains(regexp, case=False, regex=True),
        'Y', 'N'
    )

In [65]:
job_df_benefit.head()

,Index,Job Title,Detail Benefit,Bảo hiểm xã hội (BHXH),Bảo hiểm y tế (BHYT),Bảo hiểm sức khỏe,Bảo hiểm tai nạn,Thưởng tháng 13,"Thưởng lễ, Tết",Mức lương / Thu nhập,Tăng lương,Nghỉ phép (12 ngày),Du lịch / Company Trip,Teambuilding,Khám sức khỏe định kỳ,Đào tạo / Khóa học,Cơ hội phát triển nghề nghiệp,Môi trường làm việc năng động
0,1,Chuyên Viên Phân Tích Dữ Liệu (Data Analyst),Quyền lợi\n\nStarting Salary: 20M-39M/month.Co...,N,N,Y,N,N,N,Y,N,Y,N,N,N,N,N,N
1,2,Financial Planning & Analysis Executive (FP&A),Quyền lợi\n\nThu nhập và đãi ngộ cạnh tranh th...,Y,Y,N,N,Y,Y,Y,N,N,Y,N,Y,Y,N,Y
2,3,Nhân Viên Giám Sát & Phân Tích Dữ Liệu - Tổng ...,Quyền lợi\n\n- Được đào tạo về kỹ năng chăm só...,Y,N,N,N,N,N,N,N,N,N,Y,N,Y,N,Y
3,4,Thực Tập Sinh ERP - Data Analyst,Quyền lợi\n\nHỗ trợ dấu mộc thực tập sau 2 thá...,N,N,N,N,N,N,N,N,N,N,N,N,Y,Y,Y
4,5,Trưởng Nhóm Phân Tích Dữ Liệu - Ngành Tài Chính,Quyền lợi\n\nMức lương: Thỏa Thuận theo năng l...,Y,Y,Y,N,Y,Y,Y,N,Y,N,Y,N,N,N,N

In [66]:
benefit_cols = list(benefit_patterns.keys())

job_df_benefit[benefit_cols].eq('Y').sum().sort_values(ascending=False)

Bảo hiểm xã hội (BHXH)           39
Môi trường làm việc năng động    37
Mức lương / Thu nhập             33
Bảo hiểm y tế (BHYT)             32
Đào tạo / Khóa học               31
Teambuilding                     27
Thưởng lễ, Tết                   26
Nghỉ phép (12 ngày)              23
Du lịch / Company Trip           22
Bảo hiểm sức khỏe                21
Thưởng tháng 13                  17
Khám sức khỏe định kỳ            14
Cơ hội phát triển nghề nghiệp    12
Bảo hiểm tai nạn                  5
Tăng lương                        5
dtype: int64

# 3. **FINAL**

Output gồm 2 file CSV
- [File 1] Job Final: trích xuất các cột cần thiết từ DataFrame gốc
- [Fiel 2] Job Tools: là phần skills được trích xuất ra - với **Foreign Key** là cột **Index**

In [51]:
job_final = job_df[['Index', 'Job Title', 'YOE', 'Salary MIN', 'Salary MAX', 'Place', 'Work Day', 'Company Type', 'Company', 'Industry', 'URL']]

In [52]:
job_final

,Index,Job Title,YOE,Salary MIN,Salary MAX,Place,Work Day,Company Type,Company,Industry,URL
0,1,Chuyên Viên Phân Tích Dữ Liệu (Data Analyst),3.0,20.000000,39.000000,Hà Nội,T2-T6,Doanh nghiệp nhỏ,CÔNG TY TNHH CÁC GIẢI PHÁP SOFTEL,IT - Phần mềm,https://www.topcv.vn/viec-lam/chuyen-vien-phan...
1,2,Financial Planning & Analysis Executive (FP&A),1.0,13.000000,21.666667,Hồ Chí Minh,T2-T6,Tập đoàn,Công ty Cổ phần Thế Giới Số (DIGIWORLD),Thương mại điện tử,https://www.topcv.vn/viec-lam/financial-planni...
2,3,Nhân Viên Giám Sát & Phân Tích Dữ Liệu - Tổng ...,1.0,13.000000,21.666667,Hồ Chí Minh,T2-T6,Tập đoàn,Công Ty TNHH Bảo Hiểm Tasco,Bảo hiểm,https://www.topcv.vn/viec-lam/nhan-vien-giam-s...
3,4,Thực Tập Sinh ERP - Data Analyst,0.0,5.000000,7.333333,Hà Nội,T2-T7,Tập đoàn,CÔNG TY CỔ PHẦN BÁCH LIÊN,Xuất nhập khẩu,https://www.topcv.vn/viec-lam/thuc-tap-sinh-er...
4,5,Trưởng Nhóm Phân Tích Dữ Liệu - Ngành Tài Chính,1.0,13.000000,21.666667,Hồ Chí Minh,T2-T7,Tập đoàn,GALAXY DEBT TRADING COMPANY LIMITED,Tài chính,https://www.topcv.vn/viec-lam/truong-nhom-phan...
...,...,...,...,...,...,...,...,...,...,...,...
58,60,Document Control Staff (Nhân Viên Kiểm Soát Dữ...,1.0,13.000000,21.666667,Bình Dương,T2-T7,Tập đoàn,CÔNG TY TNHH THERM-X SYSTEM VIỆT NAM TECHNOLOGY,Sản xuất,https://www.topcv.vn/viec-lam/document-control...
59,61,"Data Analyst, MeLive",2.0,15.500000,22.166667,Hồ Chí Minh,T2-T6,Tập đoàn,Công ty Cổ phần METUB Việt Nam,Agency (Marketing/Advertising),https://www.topcv.vn/viec-lam/data-analyst-mel...
60,62,Chuyên Viên Báo Cáo Và Phân Tích Tín Dụng,2.0,15.500000,22.166667,Hồ Chí Minh,T2-T6,Tập đoàn,Công Ty Tài Chính Tổng hợp Cổ Phần Tín Việt,Ngân hàng,https://www.topcv.vn/viec-lam/chuyen-vien-bao-...
61,65,Linehaul Driver Support,2.0,15.500000,22.166667,Bắc Ninh,T2-T7,Tập đoàn,CÔNG TY TNHH S-RETAIL VN,Bán lẻ - Hàng tiêu dùng - FMCG,https://www.topcv.vn/viec-lam/linehaul-driver-...
62,66,Leader Chạy Quảng Cáo Facebook (Data Analysis),3.0,18.666667,37.333333,Hồ Chí Minh,T2-T7,Tập đoàn,CÔNG TY TNHH TRUYỀN THÔNG PHÚ CƯỜNG SOLUTION,Marketing / Truyền thông / Quảng cáo,https://www.topcv.vn/viec-lam/leader-chay-quan...

In [47]:
job_df_tools

,Index,Job Title,SQL,Python,R,Excel,Tableau,PowerBI,ETL,Airflow,Spark,AWS,Azure,GCP,Snowflake
0,1,Chuyên Viên Phân Tích Dữ Liệu (Data Analyst),Y,Y,N,N,Y,Y,N,N,N,Y,N,N,N
1,2,Financial Planning & Analysis Executive (FP&A),Y,Y,Y,Y,Y,Y,N,N,N,N,N,N,N
2,3,Nhân Viên Giám Sát & Phân Tích Dữ Liệu - Tổng ...,N,N,N,Y,N,N,N,N,N,N,N,N,N
3,4,Thực Tập Sinh ERP - Data Analyst,N,N,N,N,N,N,N,N,N,N,N,N,N
4,5,Trưởng Nhóm Phân Tích Dữ Liệu - Ngành Tài Chính,Y,Y,Y,Y,Y,Y,N,N,N,N,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,60,Document Control Staff (Nhân Viên Kiểm Soát Dữ...,N,N,N,Y,N,N,N,N,N,N,N,N,N
59,61,"Data Analyst, MeLive",Y,Y,Y,N,Y,Y,Y,N,N,N,N,N,N
60,62,Chuyên Viên Báo Cáo Và Phân Tích Tín Dụng,Y,Y,Y,Y,N,Y,N,N,N,N,N,N,N
61,65,Linehaul Driver Support,N,N,N,Y,N,N,N,N,N,N,N,N,N
62,66,Leader Chạy Quảng Cáo Facebook (Data Analysis),N,Y,N,Y,Y,Y,N,N,N,N,N,N,N

In [48]:
# Xuất CSV: C:/Users/admin/.vscode/py/crawl/output_clean/
# job_final.to_csv('C:/Users/admin/.vscode/py/crawl/output_clean/job_08092025.csv', index=False, encoding='utf-8-sig')

# job_df_tools.to_csv('C:/Users/admin/.vscode/py/crawl/output_clean/job_tools_08092025.csv', index=False, encoding='utf-8-sig')